/*@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);*/
@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  src: url(HelveticaNeue.otf) format('truetype');
}

body{
	font-family:'HelveticaNeue', Arial;*/
	-webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      
	  user-select: none;
}

input[type=text]
{
	height: 50px;
	width: 221px;
	border: .08em solid rgb(125,125,125);
	font-size: 1.5em;
	font-family:'HelveticaNeue',Arial;
	padding: 0 10px;
	letter-spacing: 1px;
	-webkit-appearance: none;
	border-radius: 0;
}

#cat-creation
{
	margin-top: 80px;
}
	
#icon-add
{
	background: url(../src/add.png);
	width: 48px;
	display: block;
	height: 48px;
	float: right;
	border: .08em solid rgb(125,125,125);
	margin-right: 17px;
	margin-top: -50px;
	background-position-x: 4;
	background-position-y: 4;
}

#felt-rad{
	margin-left: 15px;
}



ul
{
	list-style: none;
	width: 90%;
    margin-left:-25px;
}

ul li
{
	border: .08em solid rgb(125,125,125);
	margin-bottom: -1px;
}



ul > li{
		background: url(../src/add.png) no-repeat;
		background-position-x: 222px;
		background-position-y: 12px;
}

ul#cats > li, ul#langs > li{
		background: url(../src/arrow.png) no-repeat;
		background-position-x: 234px;
		background-position-y: 25px;
}
ul#langs > li{
	background-position-y: 21px;
}

  .add-items > ul > li
   {
    padding:20px 20px;
   }

ul >  li > button
{
	background: none;
    min-width:180px;
	border: none;
	font-size: 1.0em;
	letter-spacing: .1em;
    font-family:'HelveticaNeue', Arial;
    padding:0;
    margin-left:10px;
    text-align:left;
}

ul > li
{
	padding: 20px 0px;
	letter-spacing: .1em;
	font-family: 'HelveticaNeue', Arial;
	border: 1px solid;
	font-size: 1.3em;
}

#lang-page > ul > li
{
    padding-left:20px;
}
 


ul#cats >  li:active
{
	background-color: rgb(182, 206, 240);
}


.item-button{
	letter-spacing: 1px;
	padding: 10px 20px;
/*	background: #eee;*/
	margin: 5px 5px 20px 5px;
	border: .08em solid rgb(196, 196, 196);
}

.item-button.right{
	float: right;
}
.item-button.left{
	float: left;
}

.item-button:focus{
	background-color: #2f2ffa;
}

span.delcat{
	background: rgb(241, 60, 60);
	width: 70px;
	text-align: center;
	height: 62px;
	display: block;
	float: left;
	line-height: 58px;
	letter-spacing: 3px;
	padding-top: 7px;
	margin-top: -20px;
    margin-right:-5px;
    color:white;
}

*:not(input):not(textarea) {
-webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */

}

input.middle:focus {
    outline-width: 0;
}



